/* ==========================================================================
   #BRAND
   ========================================================================== */

/**
 * Background Color Overrides
 */

@include property-map('u-background', 'background', $colors);





/**
 * Color Overrides
 */

@include property-map('u-color', 'color', $colors);





/**
 * Typography Overrides
 */

.u-brand-face {
  font-family: $base-font-family;
}

.u-brand-face--alt {
  font-family: $alt-font-family;
}

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}





/**
 * Responsive
 */

// Use if you want the 'palm' media query to have
// overriding color options
// @include property-map('color', 'color', $colors, 'palm');




