///* ========================================================================
//   #CONFIG
//   ======================================================================== */

/**
 * Default Color Map
 */

$colors: (
  "black"     : #000000,
  "graydark"  : #333333,
  "gray"      : #AAAAAA,
  "graylight" : #EEEEEE,
  "white"     : #FFFFFF,
  "navy"      : #1D3463,
);





/**
 * Default Font Settings
 */

$base-text-color:         map-get($colors, "graydark");
$base-background-color:   map-get($colors, "white");

$base-font-family:        "Source Sans Pro", sans-serif;
$alt-font-family:         "Merriweather", serif;

$icon-font-family:        "benjamin-bond";




