/* ==========================================================================
   #ICONS
   ========================================================================== */

/**
 * Defaults
 */

$font-path: "/assets/fonts/icons";





/**
 * Webfont Declaration
 */

@font-face {
  font-family: $icon-font-family;
  src: url($font-path + "/" + $icon-font-family + ".eot");
  src: url($font-path + "/" + $icon-font-family + ".eot?#iefix") format("embedded-opentype"),
      url($font-path + "/" + $icon-font-family + ".woff") format("woff"),
      url($font-path + "/" + $icon-font-family + ".ttf") format("truetype"),
      url($font-path + "/" + $icon-font-family + ".svg#" + $icon-font-family + "") format("svg");
  font-weight: normal;
  font-style: normal;
}





/**
 * Styles
 */

[data-icon],
[class^="icon-"],
[class*=" icon-"] { vertical-align: middle; }

[data-icon]:before {
    font-family: $icon-font-family !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: $icon-font-family !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}





/**
 * Style Variations
 */

.icon-facebook:before           { content: "\e000"; }
.icon-linkedin:before           { content: "\e001"; }
.icon-twitter:before            { content: "\e002"; }
.icon-menu:before               { content: "\e003"; }
.icon-arrow-down:before         { content: "\e005"; }
.icon-arrow-left:before         { content: "\e009"; }
.icon-arrow-up:before           { content: "\e007"; }
.icon-arrow-right:before        { content: "\e008"; }
.icon-logo-vertical:before      { content: "\e006"; }
.icon-keys:before               { content: "\e004"; }
.icon-art:before                { content: "\e00a"; }
.icon-angle-down:before         { content: "\e00b"; }
.icon-angle-left:before         { content: "\e00c"; }
.icon-angle-right:before        { content: "\e00d"; }
.icon-angle-up:before           { content: "\e00e"; }
.icon-warning:before            { content: "\e00f"; }





/**
 * Size Variations
 */

.icon--sm    { font-size: 0.5em; }
.icon--md    { font-size: 1.25em; }
.icon--lg    { font-size: 1.5em; }

.icon--2x    { font-size: 2em; }
.icon--3x    { font-size: 3em; }
.icon--4x    { font-size: 4em; }
.icon--5x    { font-size: 5em; }
.icon--6x    { font-size: 6em; }




