///* ========================================================================
//   #MAPPINGS
//   ======================================================================== */

// Generate a property map for any property or breakpoint
// for overriding that property
@mixin property-map($klass, $property, $map, $breakpoint: false) {

  @each $label, $item in $map {
    @if ($breakpoint) {
      @include media-query($breakpoint) {
        .#{$breakpoint}-#{$klass}-#{$label} { #{$property}: $item; }
      }
    } @else {
      .#{$klass}-#{$label} { #{$property}: $item; }
    }
  }

}




